@using MudBlazor

<MudDialog>
    <TitleContent>
        <MudIcon Icon="@Icons.Material.Filled.Phone" Class="me-2" /> Կապ Մեզ Հետ
    </TitleContent>

    <DialogContent>
        <p>Տվյալների անճշտության համար խնդրում ենք կապնվել․</p>
        <p><strong>Էլ․ Հասցե</strong> info@dshh.am</p>
        <p><strong>Հեռ․</strong> (+374 10) 57-56-43</p>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Secondary">Փակել</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private void Cancel() => MudDialog.Cancel();
}
