@using MudBlazor

<MudDialog>
    <TitleContent>
        <MudIcon Icon="@Icons.Material.Filled.Phone" Class="me-2" /> Contact Us
    </TitleContent>

    <DialogContent>
        <p>Տվյալների անճշտության համար խնդրում ենք կապնվել․</p>
        <p><strong>Email:</strong> <a href="info@dshh.am">support@example.com</a></p>
        <p><strong>Phone:</strong> +1 234 567 890</p>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Secondary">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private void Cancel() => MudDialog.Cancel();
}
